@use "sass:color";

/* ---Variables--- */

$white: #fff;
$black: #111;
$dk-blue: #003154;
$md-blue: #64a9ea;
$skin: #f4cdc3;
$grey: #f8f8f8;
$red: #d32f2f;
$red1: #b00;
$skin1: #c48468;
$skin2: #f2ccba;
$antlerColor: #7d3f25;

$faceWidth: 6rem;
$moustacheSize: 1rem;
$capWidth: $faceWidth + 0.3;
$capBallSize: 2rem;
$shoulderSize: 9rem;
$mouthW: 1.2rem;
$mouthH: 1rem;
$rdFaceWidth: 5rem;
$brickSize: 1.7rem;
$brickBgSize: $brickSize * 2.471;
$skyHeight: 60vh;

$snowColor: $white;
$beardColor: $grey;
$noseColor: red;
$clothesColor: $red;
$capColor: $red;
$mouthColor: $black;
$clothesShadeColor: color.scale($capColor, $red: -20%);
$skin1ShadeColor: color.scale($skin1, $red: -20%, $blue: -20%, $green: -20%);
$brickColor: $red1;

$speechTiming: 1.8s;

/* ---Variables End--- */

html {
  font-size: 1.5vh;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.sky {
  background: linear-gradient($dk-blue, $md-blue) no-repeat;
  width: 100%;
  height: $skyHeight;
}

#snowflakes {
}

.container--snowflakes {
  max-width: 1200px;
  margin: auto auto 1em auto;
}

#snowflakes-1 {
  opacity: 0;
  animation: snowfall 2.2s ease-out 1s infinite;
}

#snowflakes-2 {
  opacity: 0;
  animation: snowfall 2.5s ease-out 0.7s infinite;
}

#snowflakes-3 {
  opacity: 0;
  animation: snowfall 3s ease-out 1.2s infinite;
}

#snowflakes-4 {
  opacity: 0;
  animation: snowfall 2.8s ease-out 0.8s infinite;
}

.ground {
  background-color: $snowColor;
  height: 100 - $skyHeight;
  width: 100%;
  background-image: linear-gradient(
      335deg,
      $brickColor $brickSize,
      transparent $brickSize
    ),
    linear-gradient(155deg, $brickColor $brickSize, transparent $brickSize),
    linear-gradient(335deg, $brickColor $brickSize, transparent $brickSize),
    linear-gradient(155deg, $brickColor $brickSize, transparent $brickSize);
  background-size: $brickBgSize $brickBgSize;
  background-position: 0.01rem 0.13rem, 0.14rem 2.5rem, 2.2rem 2.3rem,
    2.4rem 0.46rem;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    background-image: url(https://i.imgur.com/CVJFblw.png?1);
    height: 1rem;
    width: 100%;
    top: -0.8rem;
    position: absolute;
    background-repeat: round;
  }
}

.characters {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 30vh;
  max-width: 60vh;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 100;
}

.reindeer {
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  transform: translateY(-20%);
  perspective: 1000px;

  .rHead {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    animation: 15s look-around infinite linear;
  }

  .foreHead {
    width: $rdFaceWidth;
    height: $rdFaceWidth + 1;
    border-radius: 50%;
    background-color: $skin1;
    position: relative;
  }

  .ears {
    height: 1rem;
    width: 105%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0.6rem;
    position: absolute;
    left: -50%;
    right: -50%;
    margin: auto;
  }

  .ear {
    width: $rdFaceWidth/7.14;
    height: $rdFaceWidth/3.33;
    background-color: $skin2;
    border: $rdFaceWidth/12.5 solid $skin1;
    border-left-width: $rdFaceWidth/25;
    border-top-width: $rdFaceWidth/20;
    border-bottom-width: $rdFaceWidth/14.28;
    border-radius: $rdFaceWidth/2.5 700% $rdFaceWidth/5 $rdFaceWidth/5;
    box-shadow: inset 0em $rdFaceWidth/25 rgba(0, 0, 0, 0.1);
    transform-origin: bottom center 0;
    animation: 15s ease-in-out infinite;

    &--left {
      animation-name: flap-left-ear;
    }

    &--right {
      animation-name: flap-right-ear;
    }
  }

  .rMouth {
    width: $rdFaceWidth + 1;
    height: $rdFaceWidth - 1;
    border-radius: 50%;
    background-color: $skin2;
    margin-top: -30%;
    z-index: 10;
  }

  .rEyes {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    top: 35%;
  }

  $eyeAnimationTime: 15s;
  .rEye {
    width: $rdFaceWidth/10;
    height: $rdFaceWidth/7;
    border-radius: 50%;
    background-color: $black;
    animation: $eyeAnimationTime blink infinite linear;

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      top: 100%;
      position: absolute;
      background-color: $skin1;
      animation: $eyeAnimationTime eye-shrink infinite linear;
    }
  }

  .rNose {
    width: $rdFaceWidth/2.69;
    height: $rdFaceWidth/4.38;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    margin-top: -$rdFaceWidth/5.38;
    border-radius: 50%;
    box-shadow: $rdFaceWidth/70 $rdFaceWidth/3.9 0 (-$rdFaceWidth/23.3)
        $snowColor,
      0rem $rdFaceWidth/3.5 0rem $rdFaceWidth/35 $noseColor;
    z-index: 2;
    animation: 15s blink infinite linear;
  }

  $smileCurve: 40deg;
  $dimpleDistance: 0.2rem;
  .rLips {
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 0.1rem solid transparent;
    border-bottom-color: transparent;
    border-bottom-color: $black;
    bottom: 10%;
    left: -50%;
    right: -50%;
    margin: auto;
    box-shadow: 0rem 0.6rem 0rem -0.4rem $black;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      border: 0.1rem solid transparent;
      position: absolute;
      bottom: 0.1rem;
      border-radius: 50%;
    }

    &::before {
      border-left-color: $black;
      transform: rotate($smileCurve);
      left: $dimpleDistance;
    }

    &::after {
      border-right-color: $black;
      transform: rotate(-$smileCurve);
      right: $dimpleDistance;
    }
  }

  .antlers {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -11rem;
    right: 0;
    margin: auto;
    top: -1rem;
    transform: rotate(-6deg);
  }

  .antler {
    position: absolute;
    width: $rdFaceWidth;
    height: $rdFaceWidth/7.14;
    border-radius: 30%;
    background-color: $antlerColor;
    transform-origin: ($rdFaceWidth + 0.2) 0;
    transform: translate(-$rdFaceWidth/5, $rdFaceWidth/2) rotate(30deg);

    &--right {
      transform: scaleX(-1) translate(-$rdFaceWidth/5, $rdFaceWidth/2)
        rotate(20deg);
    }

    .hook {
      position: absolute;

      $val1: $rdFaceWidth/2.17;
      $val2: $rdFaceWidth/1.67;
      &:first-child {
        top: -$val1;
        left: -$val1;
        width: $val2;
        height: $val2;
        background: radial-gradient(
          circle at 100% 0,
          transparent,
          transparent $val1,
          $antlerColor $val1,
          $antlerColor $val2,
          transparent $val2
        );
      }

      $val3: $rdFaceWidth/2.94;
      $val4: $rdFaceWidth/2.08;
      &:nth-child(2) {
        top: -$val3;
        width: $val4;
        height: $val4;
        background: radial-gradient(
          circle at 100% 0,
          transparent,
          transparent $val3,
          $antlerColor $val3,
          $antlerColor $val4,
          transparent $val4
        );
      }

      $val5: $rdFaceWidth/3.84;
      $val6: $rdFaceWidth/3.33;
      $val7: $rdFaceWidth/2.5;
      &:nth-child(3) {
        top: -$val5;
        left: $val6;
        width: $val7;
        height: $val7;
        background: radial-gradient(
          circle at 100% 0,
          transparent,
          transparent $val5,
          $antlerColor $val5,
          $antlerColor $val7,
          transparent $val7
        );
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -10%;
        width: $rdFaceWidth/7;
        height: $rdFaceWidth/7;
        background-color: $antlerColor;
        border-radius: 50%;
      }
    }
  }

  .rBody {
    display: flex;
    margin-top: -20%;
  }

  .rShoulder {
    background-color: $skin1;
    width: $shoulderSize - 3.8;
    height: $shoulderSize - 4.5;
    border-radius: 4rem/8rem 0rem 0rem 3rem;
    box-shadow: -0.3rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.3);
    position: relative;
    margin-right: -0.5rem;

    &::before {
      content: "";
      height: 30%;
      display: inline-block;
      width: 1px;
      background-color: $skin1ShadeColor;
      position: absolute;
      left: 45%;
      top: 38%;
      transform: rotate(12deg);
    }

    &::after {
      content: "";
      display: inline-block;
    }

    &--left {
      transform: rotateZ(-20deg);

      $hooveW: 1.3rem;
      &::after {
        width: 0;
        height: $hooveW;
        position: absolute;
        right: $hooveW/1.45;
        bottom: $hooveW/2.2;
        transform: rotate(40deg);
        border-left: $hooveW/1.5 solid $black;
        border-top: $hooveW/5 solid transparent;
        border-bottom: $hooveW/5 solid transparent;
        border-radius: $hooveW/4.5;
      }
    }

    &--right {
      transform: rotateZ(20deg) rotateY(180deg);

      &::after {
        background-color: $white;
        width: 0.5rem;
        height: 2rem;
        position: absolute;
        right: 0rem;
        bottom: -0.1rem;
        border-radius: 150% / 3rem 1rem 1rem 3rem;
      }
    }
  }
}

.santa {
  display: flex;
  flex-direction: column;

  .head {
    position: relative;
    width: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    animation: shakeHead $speechTiming linear infinite alternate;
  }

  .cap {
    display: block;
    position: relative;
    width: $capWidth;
    z-index: 99;

    &__cone-1 {
      border-left: $capWidth/6 solid transparent;
      border-right: $capWidth/15 solid transparent;
      border-bottom: $capWidth/3 solid $capColor;
    }

    &__cone-2 {
      background-color: #d32f2f;
      border-top: 0px solid transparent;
      border-right: $capWidth * 1.3 solid $capColor;
      border-bottom: $capWidth/2.3 solid transparent;
      border-color: transparent;
      box-shadow: -0.8rem 0.3rem 1.8rem -0.3rem rgba(1, 1, 1, 0.4);
      position: relative;
      left: -2.46rem;
      top: 1.2rem;
      transform: rotate(-15deg);
      border-radius: 30% 100% 0 100%;
    }

    &::after,
    &::before {
      background-color: $white;
      content: " ";
      display: block;
    }

    &::after {
      box-shadow: 0px -15px 40px -5px rgba(1, 1, 1, 0.4);
      height: $capWidth/3.9;
      margin-left: -0.6rem;
      position: relative;
      width: $capWidth * 1.2;
      border-radius: 0.4rem;
    }

    &::before {
      box-shadow: 0.5rem 0.8rem 2.1rem -0.4rem rgba(1, 1, 1, 0.3);
      height: $capBallSize;
      width: $capBallSize;
      left: -3.8rem;
      position: absolute;
      top: 1.8rem;
      z-index: 111;

      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }

  .face {
    background-color: $skin;
    width: $faceWidth;
    height: 5rem;
    border-radius: 100%/120% 120% 80% 80%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
  }

  .beard {
    position: absolute;
    top: 3.5rem;
    background-color: $beardColor;
    width: $faceWidth + 1;
    height: 10rem;
    border-radius: 100%/90% 90% 80% 80%;
    box-shadow: 0 1.6rem 2rem -0.3rem rgba(0, 0, 0, 0.3);

    &::before {
      content: "";
      display: inline-block;
      height: 20%;
      width: 30%;
      background-color: inherit;
      border-radius: 50%;
      position: absolute;
      top: 45%;
      left: -5%;
      box-shadow: 0rem 1rem 0 0 $beardColor, 0.3rem 2rem 0 0 $beardColor,
        1rem 3.3rem 0 0 $beardColor, 2.1rem 4rem 0 0 $beardColor,
        3.4rem 4.2rem 0 0 $beardColor, 4.6rem 3.8rem 0 0 $beardColor,
        5.4rem 2.8rem 0 0 $beardColor, 5.8rem 1.8rem 0 0 $beardColor,
        5.8rem 0.7rem 0 0 $beardColor, 5.5rem -0.4rem 0 0 $beardColor;
    }
  }

  .eyes {
    width: 70%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(1rem);
  }

  .eye {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fbcbc1;
    border-radius: 50%;
    box-shadow: 0rem -0.3rem 0rem 0rem black;

    &::before {
      content: "";
      width: 100%;
      height: 30%;
      background-color: $beardColor;
      transform: translateY(-1rem);
      position: absolute;
      display: inline-block;
      border-radius: 60%/40%;
    }

    &--l {
      &::before {
        transform: translateY(-1.2rem) translateX(-0.2rem) rotate(-10deg);
      }
    }

    &--r {
      &::before {
        transform: translateY(-1.2rem) translateX(-0.2rem) rotate(10deg);
      }
    }
  }

  .nose {
    width: $moustacheSize + 0.2;
    height: $moustacheSize;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    margin-top: 0.9rem;
    border-radius: 50%;
    box-shadow: 0.1rem 1.3rem 0rem -0.3rem $snowColor,
      0rem 1.5rem 0rem 0.2rem $noseColor;
    z-index: 2;
  }

  .moustache {
    width: $moustacheSize + 0.2;
    height: $moustacheSize;
    border-radius: 50%;
    color: $beardColor;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    margin-top: 0.9rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 1rem;
      width: 2.2rem;
      top: 0;
      border-bottom: $moustacheSize solid $beardColor;
      animation: $speechTiming ease-in-out infinite alternate;
    }

    &::before {
      left: -2rem;
      top: 0.5rem;
      transform: rotate(-10deg);
      border-radius: 0 0 0% 100%;
      transform-origin: right 1rem;
      animation-name: shakeL;
      box-shadow: -1px 1px 0px 0px
        color.scale($beardColor, $red: -10%, $green: -10%, $blue: -10%);
    }

    &::after {
      left: 1rem;
      top: 0.5rem;
      transform: rotate(10deg);
      border-radius: 0 0 1000% 0;
      transform-origin: left 1rem;
      animation-name: shakeR;
      box-shadow: 1px 1px 0px 0px
        color.scale($beardColor, $red: -10%, $green: -10%, $blue: -10%);
    }
  }

  .mouth {
    height: $mouthH;
    width: $mouthW;
    left: 0.4rem;
    margin: 0 auto;
    position: relative;
    top: 6.8rem;
    border-radius: 50%;
    animation: hoho $speechTiming ease-in-out infinite alternate;
  }

  .body {
    display: flex;
  }

  .shoulder {
    background-color: $capColor;
    width: $shoulderSize;
    height: $shoulderSize;
    border-radius: 4rem/8rem 0rem 0rem 3rem;
    box-shadow: -0.3rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.3);
    position: relative;
    margin-right: -0.5rem;

    &::before {
      content: "";
      height: 30%;
      display: inline-block;
      width: 1px;
      background-color: $clothesShadeColor;
      position: absolute;
      left: 45%;
      top: 38%;
      transform: rotate(12deg);
    }

    &::after {
      content: "";
      display: inline-block;
    }

    &--left {
      transform: rotateZ(-20deg);

      &::after {
        background-color: $clothesShadeColor;
        width: 2.4rem;
        height: 2.2rem;
        position: absolute;
        right: 1.9rem;
        bottom: 1.4rem;
        transform: rotate(40deg);
        border-radius: 1rem 0rem 0rem 1rem;
        box-shadow: 0.7rem -1.45rem 0rem -0.8rem $clothesShadeColor;
      }
    }

    &--right {
      transform: rotateZ(20deg) rotateY(180deg);

      &::after {
        background-color: $white;
        width: 1rem;
        height: 3rem;
        position: absolute;
        right: 0rem;
        bottom: -0.1rem;
        border-radius: 0.2rem;
      }
    }
  }
}

.text {
  font-size: 6rem;
  text-transform: capitalize;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
    url(https://media.giphy.com/media/raJa0mPRFe8zC/giphy.gif) repeat;
  -webkit-background-clip: text;
  line-height: 0.8;
  position: absolute;
  z-index: 10;
  top: 2rem;
  left: 0;
  right: 0;
  letter-spacing: -0.5rem;
  text-shadow: 0.2rem -0.3rem darkgoldenrod;
}

.profile-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  background-color: white;
  padding: 0.1rem 0.8rem;
  border-radius: 0rem 2rem 0 2rem;
  box-shadow: -2px 1px 2px 1px #111;
}

/* Animations */

/* Moustache */
@keyframes shakeL {
  0%,
  30% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes shakeR {
  0%,
  30% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

/* Moustache End */

/* Mouth */

$mouthExtended: $mouthH + ($mouthH * 1/5);
@keyframes hoho {
  0%,
  30% {
    background-color: $beardColor;
    box-shadow: 0px $mouthH * 2/5 0 0 $mouthColor;
    height: $mouthH * 4/5;
    width: $mouthW;
  }

  60% {
    background-color: $beardColor;
    box-shadow: 0px $mouthExtended 0 0 $mouthColor;
    height: $mouthExtended;
    width: $mouthW/2;
  }

  80% {
    background-color: $beardColor;
    box-shadow: 0px $mouthExtended 0 0 $mouthColor;
    height: $mouthH;
    width: $mouthW * 2/3;
  }

  100% {
    background-color: $beardColor;
    box-shadow: 0px $mouthExtended 0 0 $mouthColor;
    height: $mouthExtended;
    width: $mouthW/2;
  }
}

/* Mouth End */

/* Head */

@keyframes shakeHead {
  0%,
  30% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

/* Head End */

/* Ear */

$flap1: -75deg;
$flap2: -30deg;
@keyframes flap-left-ear {
  0% {
    transform: rotate($flap1);
  }
  1% {
    transform: rotate($flap2);
  }
  2% {
    transform: rotate($flap1);
  }
  3% {
    transform: rotate($flap2);
  }
  4%,
  50% {
    transform: rotate($flap1);
  }
  51% {
    transform: rotate($flap2);
  }
  52% {
    transform: rotate($flap1);
  }
  53% {
    transform: rotate($flap2);
  }
  54%,
  100% {
    transform: rotate($flap1);
  }
}

$rightEarDisplacement: -5%;
@keyframes flap-right-ear {
  0% {
    transform: translateX($rightEarDisplacement) scaleX(-1) rotate($flap1);
  }
  1% {
    transform: translateX($rightEarDisplacement) scaleX(-1) rotate($flap2);
  }
  2% {
    transform: translateX($rightEarDisplacement) scaleX(-1) rotate($flap1);
  }
  3% {
    transform: translateX($rightEarDisplacement) scaleX(-1) rotate($flap2);
  }
  4%,
  50% {
    transform: translateX($rightEarDisplacement) scaleX(-1) rotate($flap1);
  }
  51% {
    transform: translateX($rightEarDisplacement) scaleX(-1) rotate($flap2);
  }
  52% {
    transform: translateX($rightEarDisplacement) scaleX(-1) rotate($flap1);
  }
  53% {
    transform: translateX($rightEarDisplacement) scaleX(-1) rotate($flap2);
  }
  54%,
  100% {
    transform: translateX($rightEarDisplacement) scaleX(-1) rotate($flap1);
  }
}

/* Ear End */

/* Snowflakes */

@keyframes snowfall {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translate(-2em, 10em);
  }
}

/* Snowflakes End */

/* Blink */

@keyframes blink {
  0% {
    transform: translateY(0);
  }
  2%,
  18% {
    transform: translateY(-50%);
  }
  20%,
  38% {
    transform: translateY(30%);
  }
  40%,
  58% {
    transform: translateY(0);
    transform: translateX(-50%);
  }
  60%,
  78% {
    transform: translateX(50%);
  }
  80% {
    transform: translateX(0);
  }
}

/* Blink End */

$neckAngle: 20deg;
@keyframes look-around {
  0% {
    transform: rotateX(0deg);
  }
  2%,
  18% {
    transform: rotateX(-$neckAngle);
  }
  20%,
  38% {
    transform: rotateX($neckAngle);
  }
  40%,
  58% {
    transform: rotateX(0);
    transform: rotateY(-$neckAngle);
  }
  60%,
  78% {
    transform: rotateY($neckAngle);
  }
  80% {
    transform: rotateY(0deg);
  }
}

@keyframes eye-shrink {
  0% {
    top: 100%;
  }
  80% {
    top: 100%;
  }
  82%,
  100% {
    top: 35%;
  }
}
